* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
header {
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

nav {
    display: flex;
    align-content: center;
}

.nav1, .nav2 {
    padding: 0;
    display: flex;
    align-content: center;
    list-style: none;
    font-size: 12px;
}


a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 5px;
}

a:hover {
    color: blue;
}

h1 {
    font-size: 3em;
    padding: .2em;
}